@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
@import "tailwindcss";

:root {
  --tenant-primary: #25A7DA; 
  --tenant-primary-light: #00ACC1;
  --tenant-primary-dark: #0C4A6E;
  --tenant-background: #F0FDFA;
}

@theme {
  --font-sans: 'Bebas Neue', sans-serif;

  --color-primary: var(--tenant-primary); 
  --color-primary-light: var(--tenant-primary-light);
  --color-primary-dark: var(--tenant-primary-dark);
  
  --color-background: var(--tenant-background);
  
  /* Colores de estado */
  --color-success: #10b981;
  --color-danger: #ef4444;
  --color-secondary: #64748b;
}

body {
  background-color: #e2e8f0; 
  color: var(--color-primary-dark); 
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 10px;
}