@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Bebas+Neue&display=swap');
@import "tailwindcss";

:root {
  --font-sans: 'Inter', sans-serif;
  
  --color-primary: #25A7DA; 
  --color-primary-light: #00ACC1;
  --color-primary-dark: #0C4A6E;
  --color-background: #F0FDFA;
  
  --color-success: #10b981;
  --color-danger: #ef4444;
  --color-secondary: #64748b;
}

@theme {
  --font-sans: var(--font-sans);

  --color-primary: var(--color-primary); 
  --color-primary-light: var(--color-primary-light);
  --color-primary-dark: var(--color-primary-dark);
  
  --color-background: var(--color-background);
  --color-success: var(--color-success);
  --color-danger: var(--color-danger);
  --color-secondary: var(--color-secondary);
}

body {
  background-color: var(--color-background); 
  color: var(--color-primary-dark);
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary); 
  border-radius: 10px;
}